<p id="notice"><%= notice %></p>

<h1>Journeys</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.name %></td>
        <td><%= journey.description %></td>
        <td><%= link_to 'Show', journey %></td>
        <td><%= link_to 'I\'ll take it!', journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
  <%= link_to 'New Journey', new_journey_path %>
<% end %>
